.body{
    min-height: 80vh;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    position: relative;
}
.homeIcon{
    width: 6vh;
    height: 6vh;
    transform: translateX(-50%);
    position: fixed;
    bottom: 4.5vh;
    Left: 50vw;
    z-index: 5;
}

.lightPrimary {
    background-color: white;
}

.lightSecondary{
    background-color: #2a3940;
}

.darkPrimary{
    background-color: #2a3940;
    color: white;
}

.darkSecondary{
    background-color: white;
}

.cutout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 16vh;
    border-radius: 50%;
    position: fixed;
    bottom: 2vh;
    Left: 50vw;
    z-index: 0;
    transform: translateX(-50%);
}

.homeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 9vh;
    background-color: #c47062;
    border-radius: 50%;
    position: fixed;
    bottom: 3vh;
    Left: 50vw;
    z-index: 1;
    transform: translateX(-50%);
}

.rightCutout{
    height: 5vh;
    width: 5vh;
    position: fixed;
    left: 50vw;
    transform: translateX(150%);
}
.rightCircle{
    height: 8vh;
    width: 10vh;
    border-radius: 50%;
    position: fixed;
    left: 50vw;
    transform: translateX(69%);
}

.leftCutout{
    height: 5vh;
    width: 5vh;
    position: fixed;
    left: 50vw;
    transform: translateX(-250%);
}
.leftCircle{
    height: 8vh;
    width: 10vh;
    border-radius: 50%;
    position: fixed;
    left: 50vw;
    transform: translateX(-169%);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
