.footer{
    min-height: 8vh;
    max-height: 8vh;
}
.footer p{
    margin: 0;
}
.cutout{
    height: 12vh;
    width: 16vh;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    text-align: center;
    bottom: 2vh;
    Left: 34vw;
    z-index: 0;
}

.homeButton{
    height: 9vh;
    width: 9vh;
    background-color: #c47062;
    border-radius: 50%;
    position: fixed;
    bottom: 3vh;
    Left: 42vw;
    z-index: 1;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em) {

}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em) {

}
