.footer{
    min-height: 8vh;
    max-height: 8vh;
}
.footer p{
    margin: 0;
}

.settingsIcon{
    width: 6vh;
    height: 6vh;
    margin-top: 1vh;
    margin-left: 1vh;
}
.profileIcon{
    width: 6vh;
    height: 6vh;
    margin-top: 1vh;
    margin-right: 1vh;
    float: right;
}

/*		 		Fullscreen			 */
@media screen and (min-width: 59em) {

}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em) {

}
