summary {list-style: none}
summary::-webkit-details-marker {display: none;}
details summary::before {
    content:"▸";
    font-size: 30px;
    position: fixed;
    right: 0;
    margin-right: 5vw;
    /* you can style it however you want, use background-image for example */
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before {
    content:"▾";
}

.homeHeaderContent{
    position: fixed;
    top: 0;
}
.selectedBox{
    width: 8vh;
    height: 8vh;
    position: fixed;
    z-index: -1;
}
.ingredients{
    left: 0;
}
.recipes{
    left: 50%;
    transform: translateX(-50%);
}
.filters{
    right: 0;
}

.ingredientsIcon{
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    margin-left: 1vh;
    z-index: 1;
}
.recipesIcon{
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    position: fixed;
    z-index: 1;
}

.filtersIcon{
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    margin-right: 1vh;
    position: fixed;
    z-index: 1;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {

}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {

}
