.search input{
    width: 100vw;
    border-width: 2px;
    border-style: solid;
    border-color: #2a3940;
    border-image: initial;
    height: 5vh;
}
.homeRefresh{
    width: 8vh;
    height: 8vh;
    position: fixed;
    bottom: 3.5vh;
    z-index: -1;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75vw;
    margin: 0 auto 0 auto;
    padding: 1vh;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardContainer{
    text-align: center;
    font-size: 1.5em;
}
.cardContainer p{
    margin: 0;
}
.ingredientsList label{
    pointer-events: none;
}
.ingredientsList input{
    margin: auto 5vw auto auto;
    right: 0;
    transform: scale(2);
}
.ingredientsList{
    padding: 2vh 0 2vh 0;
    font-size: 1.5em;
    border-width: 2px;
    border-style: solid;
    border-bottom: none;
    display: flex;
}

summary {list-style: none}
summary::-webkit-details-marker {display: none;}
details summary::before {
    content:"▸";
    font-size: 30px;
    position: fixed;
    right: 0;
    margin-right: 2vw;
    /* you can style it however you want, use background-image for example */
}
.recipeIMG{
    height: 30vh;
    width: 100%;
    object-fit: contain;
    margin: 0 auto 0 auto;
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before {
    content:"▾";
}

.homeHeaderContent{
    position: fixed;
    top: 0;
}
.selectedBox{
    width: 8vh;
    height: 8vh;
    position: fixed;
    z-index: -1;
}
.ingredients{
    left: 0;
}
.recipes{
    left: 50%;
    transform: translateX(-50%);
}
.filters{
    right: 0;
}

.ingredientsIcon{
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    margin-left: 1vh;
    z-index: 1;
}
.recipesIcon{
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    position: fixed;
    z-index: 1;
}

.filtersIcon{
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    margin-right: 1vh;
    position: fixed;
    z-index: 1;
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em), screen and (min-height: 62em) {

}
/*		 	Tablet/Mobile				 */
@media screen and  (max-width: 59em), screen and (max-height: 62em) {

}
